{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
          <dl>
            <dt>Author:
            <dd><input type=text size=30 name=ath>
            <div>HINT: You can point only one author for one book. If
             book includs more than one author add the same book with different authors by one</div>
            <dt>Book:
            <dd><input type=text size=30 name=book>
            <dd><input type=submit value='Add Book'>
          </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for a in entries|dictsort %}
      <li><ul><b>{{a[0]}}</b> <a href='delete_author/{{a[1].author_id}}'>delete</a>
              {% for book in a[1].books %}
          <li>{{book.book_title}} <a href='delete_book/{{ book.book_id }}'>delete</a></li>
        {% endfor %}
        </ul></li>
      <br>
  {% endfor %}
  </ul>
{% endblock %}

